<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AntScriptVisualizer Suite">

  <test verbose="100" name="Gradle parser tests" annotations="JDK">
    <groups>
      <run>
        <include name="gradle"/>
        <include name="dot"/>
        <include name="unit"/>
        <exclude name="failed"  />
        <exclude name="long"  />
      </run>
    </groups>
      <packages>
            <!--<package name="com.nurflugel.util.gradlescriptvisualizer.domain.*" />-->
            <package name="com.nurflugel.util.*" />
            <package name="dibble.*" />
      </packages>
  </test>



</suite>
